  <div class="custom-toolbar text-nowrap ml-1 d-flex">
    <div [style.background-color]="collapsed ? '#3688FC': null" class="pb-0">
      <kendo-button
        fillMode="none"
        icon="menu"
        class="border-0 collapse-btn"
        [ngClass]="collapsed ? 'text-white' : 'text-dark'"
        (click)="drawer.toggle(); changeBackGround()"
      ></kendo-button>
    </div>
    <div class="m-2">
      <img src="assets/images/salesbuzz-dark-logo.svg" alt="">
    </div>
    </div>
    <kendo-drawer-container>
      <kendo-drawer
        #drawer
        [items]="items"
        mode="push"
        [mini]="true"
        [expanded]="true"
        (select)="onSelect($event)"
        class="drawer"
      >
      <ng-template kendoDrawerItemTemplate let-item>
        <img [src]="item.icon" />
            <div *ngIf="!collapsed">{{ item.text }}</div>
    </ng-template>
      </kendo-drawer>

      <kendo-drawer-content>
        <app-nav-content [selectedItem]="selected"></app-nav-content>
      </kendo-drawer-content>
    </kendo-drawer-container>